<div id="xmlTag">
    <root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" formid="ModularKoValidation@test.gov.il" formversion="0.0.3.26" formcompiletime="" >
        <form>
            <formtype xsi:nil="true"></formtype>
            <text xsi:nil="true"></text>
            <street text="">6591</street>
            <sign>false</sign>
            <status xsi:nil="true" text=""></status>
            <listdatamodel>
                <formtypetable xsi:nil="true"></formtypetable>
                <texttable xsi:nil="true"></texttable>
                <streettable text="">6591</streettable>
                <signtable>false</signtable>
                <statustable xsi:nil="true" text=""></statustable>
            </listdatamodel>
            <outerlist>
                <innerlist>
                    <formtypeinnertable>1</formtypeinnertable>
                    <textinnertable xsi:nil="true"></textinnertable>
                    <streetinnertable text="">6591</streetinnertable>
                    <signinnertable>false</signinnertable>
                    <statusinnertable xsi:nil="true" text=""></statusinnertable>
                </innerlist>
            </outerlist>
        </form>
    </root>
</div>
