<div style="DISPLAY: none">
    <div class="attachment-wrapper">
        <div class="attachment-inner"><a onclick="return (AgatAttachment.openFileDialog(this, event));" title="לחץ להוספת קובץ" href="http://localhost/AGFormSite/#"><input tabindex="-1" id="attachment" class="tfsInputText" tfsextensions="*.gif;*.bmp" placeholder="לחץ להוספת קובץ" tfsname="מסמכים בכרטיסית אנשי קשר" tfsdatatype="attachment" tfsdata="" tfsuploaded="false"><img alt="הוסף צרופה"  tfsaction="addAttachment" tfssrc="attachEmpty.gif"></a></div><input onchange="AgatAttachment.handleChange(this);" id="_form_attachment" class="attachment" oncontextmenu="return false;" type="file">
    </div><input id="regularInput" class="tfsInputText">
    <table id="tableOfAttachmentInTable" tfsdata="" tfsstaticrows="true">
        <tbody>
            <tr>
                <td>
                    <div class="attachment-wrapper">
                        <div class="attachment-inner"><a onclick="return (AgatAttachment.openFileDialog(this, event));" title="לחץ להוספת קובץ" href="http://localhost/AGFormSite/#"><input tabindex="-1" id="attachmentInTable" class="tfsInputText" placeholder="לחץ להוספת קובץ" tfsname="מסמכים בכרטיסית אנשי קשר" tfsdatatype="attachment" tfsrowdata="" tfsuploaded="false"><img alt="הוסף צרופה"  tfsaction="addAttachment" tfssrc="attachEmpty.gif"></a></div><input onchange="AgatAttachment.handleChange(this);" id="_form_attachmentInTable" class="attachment" oncontextmenu="return false;" type="file">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="attachmentsTable" tfsdata="" tfsstaticrows="true">
        <tbody>
            <tr>
                <td>
                    <div>
                        <label>
                            <div class="attachment-wrapper">
                                <div class="attachment-inner"><a onclick="return (AgatAttachment.openFileDialog(this, event));" title="בחר קובץ" href="http://xxx/AGFormSite/#"><input tabindex="-1" id="tableAttachment1" class="tfsInputText" placeholder="בחר קובץ" tfsdatatype="attachment" tfsrowdata="" tfsuploaded="false"><img alt="הוסף צרופה"  tfsaction="addAttachment" tfssrc="attachEmpty.gif"></a></div><input onchange="AgatAttachment.handleChange(this);" id="_form_tableAttachment1" class="attachment" oncontextmenu="return false;" type="file">
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label>
                            <div class="attachment-wrapper">
                                <div class="attachment-inner"><a onclick="return (AgatAttachment.openFileDialog(this, event));" title="בחר קובץ" href="http://xxx/AGFormSite/#"><input tabindex="-1" id="tableAttachment2" class="tfsInputText" placeholder="בחר קובץ" tfsdatatype="attachment" tfsrowdata="" tfsuploaded="false"><img alt="הוסף צרופה"  tfsaction="addAttachment" tfssrc="attachEmpty.gif"></a></div><input onchange="AgatAttachment.handleChange(this);" id="_form_tableAttachment2" class="attachment" oncontextmenu="return false;" type="file">
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>