<div class="col-md-4">
    <label>label</label>
    <select name="Town" class="tfsInputCombo" id="pickUp_Town" style="DISPLAY: none" tfsdatatype="LookUpWindow" tfsselect=""></select>
    <input class="tfsInputCombo lookup-input lookup-input-override tfsInputText" id="Town" onkeydown="AgatLookupWindow.showLookUpWindowFromTabKey(event, this)" onkeyup="AgatLookupWindow.showLookUpWindowFromKey(event, this)" onfocus="" type="text" tfsdata="" placeholder="" tfsvalue="" tfsshowdropdownbtn="false" tfslookupwindow="" data-role="none">
    <input class="lookup-arrow lookup-arrow-override tfsInputButton" id="arrow_Town" style="visibility: visible;" onclick="showLookUpWindow(this)" type="button" tfsshowdropdownbtn="false">
    <button class="lookup-arrow lookup-arrow-override" id="arrow_Town" onclick="showLookUpWindow(this)" type="button" tfsshowdropdownbtn="false">
        <i class="ic-lookup-arrow"></i>
    </button>
    <input id="regularInputInDiv" class="tfsInputText" />
</div>
<input id="regularInput" class="tfsInputText" />