
   <div class="row">
    <div class="col-md-4">
        <label for="IDNumHPNum"><span data-bind="text: labels().idNum"></span></label>
        <input class="tfsInputText"
               id="IDNumHPNum"
               data-bind="value:iDNumHPNum,  tlpLock: isBind"
               tfsdata />
               
    </div>
       <div class="col-md-4">
           <label for="FamilyName"><span data-bind="text: labels().familyName"></span></label>
           <input class="tfsInputText"
                  id="FamilyName"
                  data-bind="value:familyName,  tlpLock: isBind"
                  tfsdata />
       </div>
       <div class="col-md-4">
           <label for="FirstName"><span data-bind="text: labels().firstName"></span></label>
           <input class="tfsInputText"
                  id="FirstName" 
                  data-bind="value:firstName , tlpLock: isBind"
                  tfsdata />
       </div>

  
</div>
  


