<span id="GeneralAttributes"
      tfspluginversion="3.9.0.0"
      tfsversion="0.0.1"
      tfsprintsetup="CheckFormIntegrityBeforePrint:false;PrintBackgroundImage:true;leftMargin:15;rightMargin:15;topMargin:30;bottomMargin:10;Header:עמוד &p מתוך &P; Orientation:Portrait "
      tfssubmitaction="submitbyhttp"
      tfslanguage="hebrew"
      tfsrequirederrordisplay="border:Red"
      tfsappmode="debug"
      tfssecurityalert="false"
      tfsformid="test@test.gov.il"
      tfsformname="&lt;span class='form-name'&gt;Jasmine Spec Runner&lt;/span&gt;&lt;span class='copyrights'&gt; כל הזכויות שמורות מדינת ישראל שרות הטפסים ©&lt;/span&gt;"
      tfssubmitactionparam="action:postform;url:http://xxx.aspx;actiononreturn:function{submitFormCallBack}"
      tfsuimode="Agforms2Html;Mobile"
      tfshiddenbuttons="saveaspdf;print;submit"
      tfsenabledbuttons="displaysign;Sign;Encrypt;reset;import;export;save"
      tfsmaxtotalattachmentssize="6144"></span>