<ul class="help-and-info-list">
    <li>
        <div class="list-title" tfsindex="" ><div role="heading" aria-level="3"><span data-bind="text: labels().technicalSupport"></span></div></div>
    </li>
    <li>
        <p> <span data-bind="text: labels().activityTime"></span>  <span id="supportTime" data-bind="text: activityTime"></span></p>
        <p><span data-bind="text: labels().phone"></span><span id="supportPhone" data-bind="text: phone"></span></p>
        <p><span data-bind="text: labels().mail"></span><span id="supportMail" data-bind="text: mail"></span></p>
    </li>
</ul>