<div class="footer noPrint" role="contentinfo">
    <div class="row1">
        <div class="inner-wrapper">
            <span class="info float-right">
                <span>
                    <a data-bind="text: resources.labels().about,addDescription:'accessibilityNewWindowAlert'" href="http://gov.il/he/general/aboutus" target="_blank"></a>
                </span>
                <span>
                    <a class="disclaimer" data-bind="text: resources.labels().terms,addDescription:'accessibilityNewWindowAlert'" href="http://gov.il/he/general/terms_of_use" target="_blank"></a>
                </span>
                <span>
                    <a data-bind="text: resources.labels().access,addDescription:'accessibilityNewWindowAlert'" href="https://www.gov.il/he/general/accessibility_statement" target="_blank"></a>
                </span>
            </span>
            <span class="links float-left">
                <span>
                    <!-- רכיב שיתוף -->
                    <a target="_blank" href="https://www.addtoany.com/share_save#url=http%3A%2F%2Fgov.il%2Fhe%2FHomePage&amp;title=%D7%93%D7%A3%20%D7%94%D7%91%D7%99%D7%AA%20-%20%D7%94%D7%90%D7%AA%D7%A8%20%D7%94%D7%97%D7%93%D7%A9%20%D7%9C%D7%A9%D7%99%D7%A8%D7%95%D7%AA%D7%99%D7%9D%20%D7%95%D7%9C%D7%9E%D7%99%D7%93%D7%A2%20%D7%9E%D7%9E%D7%A9%D7%9C%D7%AA%D7%99&amp;description=" data-bind="attr:{'aria-label':resources.labels().govShare},addDescription:'accessibilityNewWindowAlert'"><i class="ic-share"></i></a>
                </span>
                <span>
                    <a href="https://www.facebook.com/israelGov" target="_blank" data-bind="attr:{'aria-label':resources.labels().facebook},addDescription:'accessibilityNewWindowAlert'"><i class=" ic-fb"></i></a>
                </span>

                <span>
                    <a href="https://twitter.com/israelgov" target="_blank" data-bind="attr:{'aria-label':resources.labels().twitter},addDescription:'accessibilityNewWindowAlert'"><i class=" ic-twitter"></i></a>
                </span>
            </span>
        </div>
    </div>

    <div class="row2 noPrint">
        <div class="inner-wrapper">
            <span class="icon">
                <i class="ic-menorah"></i>
                <a href="http://gov.il" target="_blank" alt="gov.il" data-bind="attr:{'aria-label':resources.labels().govil},addDescription:'accessibilityNewWindowAlert'">
                    <i class="ic-govil"></i>
                </a>
            </span>
            <span class="text">
                <span data-bind="text: year" tfsdonotimportbytoolbar class="TitleLock"></span><br />
                <span data-bind="text: resources.labels().govil"></span>
            </span>
        </div>
        <div class="inner-wrapper-mobile">
            <div class="links">
                <span><a data-bind="text: resources.labels().about,addDescription:'accessibilityNewWindowAlert'" href="http://gov.il/he/general/aboutus" target="_blank"></a></span>
                <span><a class="disclaimer" data-bind="text: resources.labels().terms,addDescription:'accessibilityNewWindowAlert'" href="http://gov.il/he/general/terms_of_use" target="_blank"></a></span>
                <span><a data-bind="text: resources.labels().access,addDescription:'accessibilityNewWindowAlert'" href="https://www.gov.il/he/general/accessibility_statement" target="_blank"></a></span>
            </div>
            <div class="icon">
                <a href="http://gov.il" target="_blank" data-bind="attr:{'aria-label':resources.labels().govil},addDescription:'accessibilityNewWindowAlert'">
                    <i class="ic-govil"></i>
                </a>
                <i class="ic-menorah"></i>
            </div>

            <div class="text">
                <span data-bind="text: year" tfsdonotimportbytoolbar class="TitleLock"></span>
            </div>
        </div>
    </div>
</div>