<div id="tlpAttributes">
    <div class="select">
        <select id="pickUp_Street" class="tfsInputCombo" style="DISPLAY: none" name="Street" tfsselect="" tfsdatatype="LookUpWindow"></select><input onkeyup="AgatLookupWindow.showLookUpWindowFromKey(event, this)" onfocus="" id="Street" class="tfsInputCombo lookup-input lookup-input-override" onkeydown="AgatLookupWindow.showLookUpWindowFromTabKey(event, this)" data-bind="tlpFrendlyName:frendlyName,tlpBind:bind" tfsrequired="true" tfsdata="" tfsvalue="" tfsshowdropdownbtn="false" placeholder="" tfslookupwindow="" data-role="none" tfsname="street" tfsbind="text:datatext;value:datacode;url:https://xxx" aria-required="true">
        <input onclick="showLookUpWindow(this)" id="arrow_Street" class="lookup-arrow lookup-arrow-override" type="button" tfsshowdropdownbtn="false">
        <button onclick="showLookUpWindow(this)" id="arrow_Street" class="lookup-arrow lookup-arrow-override" tfsshowdropdownbtn="false">
            <i class="ic-lookup-arrow"></i>
        </button>
    </div>
</div>