<div>
    <div id="moveFocusDiv">
        <label>שדה ראשון</label>
        <input id="firstInput"/>
        <br />
        <label>שדה שני</label>
        <textarea id="secondInput"></textarea>
        <br />
        <label>שדה שלישי</label>
        <select id="thirdInput"></select>
        <br />
        <label>שדה רביעי</label>
        <input id="forthInput" type="button" />
        <br />
        <label>שדה חמישי</label>
        <textarea id="fiveInput"></textarea>
        <br />
        <label>span</label>
        <span id="notInput"></span>
        <br />
        <label>hidden</label>
        <input id="hiddenInput" type="hidden" />
        <br />
        <label>disabled</label>
        <input id="disabledInput" disabled />
    </div>
</div>