<div class="col-md-4">
    <div class="date has-description">
        <label data-for="migrationDate" id="526140">תאריך הגירה (מוקדם מהיום)</label>
        <span id="migrationDate_desc" class="tooltip-help" title="" aria-label="עליך להזין תאריך בפורמט DD/MM/YYYY">?</span>
        <input title="בחר תאריך מתאריכון" class="tfsInputDate" id="migrationDate" tfsdatatype="date" tfsrowdata="" placeholder="dd/mm/yyyy" maxlength="10" style="margin-left: 0px;" aria-describedby="migrationDate_desc" dir="ltr" aria-labelledby="526140">
        <input class="tfsCalendar" style="height: 22px; width: 21px; text-align: center; padding-left: 1px; padding-right: 1px; background-position: 1px 1px; background-repeat: no-repeat; background-image: url(&quot;/publicForms/globalData/GetSequenceDev/WebResource.axd?d=lTHtWARNgw1lg_Tk7IHRlV6wbAM4FcZnIOpBjf8h6WJCvFkC8RwTguqopUOMyoTyUMAmChqyGOQ8HciTN2oUrgOhxgm76-tITuJU8I-rU7ZdlRlENbg56Vk9yBswuaImqFGpNG9dxrkFel9s6DFZdgx6aguzEmUxbtpPobiJofmM8iEpAPJY4w6Lj1kyLIEH26QEtZrpjSMSFFtoBWvmJw2&amp;t=636340679242003260&quot;);" onclick="jscript:showCalendar(this)" type="button" value="..." title="בחר תאריך מתאריכון" aria-describedby="vmsg_">
        <span aria-live="assertive" id="vmsg_" class="validationMessage" style="display: none;"></span>
    </div>
</div>