
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;direction:rtl
}

.ui-dialog span.ui-dialog-title {
  
    margin: .1em 0;
    white-space: nowrap;
    text-align:right;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .ui-dialog-titlebar-close {
  display: none;
}

.add-close .ui-dialog-titlebar-close {
  display: inline;
}



