<div class="header" data-bind="with: header">
    <div class="inner-wrapper">
        <div class="logo">
            <!--logo-->
            <div class="logo-right">
                <div class="semel-medina semel">
                    <i class="ic-menorah"></i>
                </div>
                <div class="semel-office semel">
                    <div class="noPrint image-logo" data-bind="attr:{alt: labels().officeName}"></div>
                    <div class="invisibleElem image-logo-print"  data-bind="attr:{alt: labels().officeName}" ></div>
                </div>
                <div class="office-description">
                    <p role="heading" aria-level="4" data-bind="text: labels().stateOfIsraelTitle"></p>
                    <p role="heading" aria-level="4" class="bold-text">
                        <span data-bind="text: labels().officeName"></span>
                    </p>
                    <p role="heading" aria-level="4" class="bold-text">
                        <span data-bind="text: labels().division"></span>
                    </p>
                </div>
            </div>
            <div class="logo-left">
                <a href="http://gov.il/" target="_blank" data-bind="attr:{'aria-label':labels().govil},addDescription:'accessibilityNewWindowAlert'" class="noPrint" alt="gov.il">
                    <i class="ic-govil semel-mimshal-zamin semel"></i>
                </a>
                <i class="ic-govil semel-mimshal-zamin semel invisibleElem"></i>
            </div>
        </div>
    </div>
    <span class="hidden-element" id="accessibilityNewWindowAlert" data-bind="text: labels().accessibilityNewWindowAlert"></span>
</div>
